<h1>Firstly, hello!</h1>
<p>
  Welcome to pleaseGOonSale.com. 
</p>
<p>
  To get started, we need you to confirm your account by clicking here: <a href="http://localhost:9393/confirm/<%= @user.confirmation_code %>">http://localhost:9393/confirm/<%= @user.confirmation_code %></a>
</p>
<p>
  After you confirm, simply install the bookmarklet into your browser (<a href="/how_it_works">watch the handy instructional video</a>). 
</p>
<p>  
  Then start browsing your favorite stores online (like you normally do) and when you've found something you like, just hit the pleaseGOonSale! bookmark and we'll send you and email if, or slash when, that item goes on sale.</p>
</p>
<p>Thanks,<br/>
Tyler and Carolyn</p>
<div style="text-align:center margin:10px">pleaseGOonSale.com: we love to shop online. we love to save online.</div>
