<h1>Hello!</h1>
<p>We here at pleaseGOonSale.com love to shop online.</p>
<p>We wanted a way to know when our favorite stuff at our favorite stores goes on sale, and that's where pleaseGOonSale.com comes in!</p>
<p>Simply browse your favorite stores online (like you normally do) and when you've found something you like, just hit the pleaseGOonSale! bookmark and we'll send you and email if that item goes on sale.</p>
