<div class="span-24">
  <div class="span-15 colborder">
    <h2>Login</h2>
    <form method="post" action="/login" id="dummy">
      <fieldset>
        <p><lable>email</lable><br/><input name ="email" value="<%= params[:email] %>"/>
        <p><lable>password</lable><br/><input type="password" name="password"/></p>
        <p><input type="submit" value="Login"></input></p>
      </fieldset>
    </form>
  </div>
</div>